<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/script.js"></script>
    <title>Welcome to feed</title>
</head>
<body>
    <h1>WELCOME TO FEED</h1>
    
    {{!-- <div style="border:5px solid black;">
        <div>Name: <p></p></div>
        <div>problem: <p></p></div>
        <div>price: <p></p></div>
        <div>address: <p></p></div>
        <button>Proceed further</button>
    </div> --}}
    <div id="Saksham"></div>
    
</body>
</html>