<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Login Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../css/styles.css" />
    <script src="/js/index.js" async defer></script>
</head>

<body>
    <!-- SignIn Form -->
    <div class="box ">
        <div class="form">

        <form action="/signin" method="post">
            <h2>Sign in</h2>
            <div class="inputBox">
                <input type="text" required="required" name="emailid">
                <span>Email Id</span>
                <i></i>
            </div>
            <div class="inputBox">
                <input type="password" required="required" name="password">
                <span>Password</span>
                <i></i>
            </div>
            <div class="links">
                <a href="#">Forgot Password</a>
                {{!-- <a class="signup" href="/signin">Signup</a> --}}
                <p class="signup">Signup</p>
            </div>
            <input type="submit" value="Login">

        </form>
        </div>
    </div>
    <!-- Sign Up Form  -->
    <div class="signup-box">
        <div class="form">
            <form action="/signup" method="post">
            <h2 class="signUp-title">Sign Up</h2>
            <div class="signUp-inputBox">
                <input type="text" required="required" name="firstname" >
                <span>Username</span>
                <i></i>
            </div>
            <div class="signUp-inputBox">
                <input type="text" required="required" name="lastname">
                <span>Full Name</span>
                <i></i>
            </div>
            <div class="signUp-inputBox">
                <input type="text" required="required" name="emailid">
                <span>Email Id</span>
                <i></i>
            </div>
            <div class="signUp-inputBox">
                <input type="text" required="required" name="aadhar">
                <span>Aadhar Card Number</span>
                <i></i>
            </div>
            <div class="signUp-inputBox">
                <input type="password" required="required" name="password">
                <span>Password</span>
                <i></i>
            </div>
            <div class="signUp-inputBox">
                <input type="password" required="required" name="cpassword">
                <span>Confirm Password</span>
                <i></i>
            </div>
            <div class="signUp-links">
                <a class="signin" href="/signup">Signin</a>
            </div>
            <input type="submit" value="Register">

            </form>
        </div>
    </div>
</body>

</html>