<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kaisan ba</title>
</head>
<body>
    <h1>Signup page</h1>
    <a href="/signin">Back to sign in</a>
    <form action="/signup" method="post">
    
    <input type="text" placeholder="firstname" name="firstname"/>
    <input type="text" placeholder="lastname" name="lastname"/>
    <input type="email" placeholder="email" name="emailid"/>
    <input type="number" placeholder="aadhar no." name="aadhar"/>
    <input type="password" placeholder="password" name="password"/>
    <input type="password" placeholder="confirmpassword" name="cpassword"/>
    <input type="submit" value="signup">
    </form>
    
</body>
</html>